# Python caches
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
ENV/

# Environment / secrets
.env
.env.*

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# SQLite files
*.sqlite3
